.contact-button {
	background-color: #191817;

	position: absolute;
	right: 6vw;
	bottom: 10vh;

	border: solid 0.1rem #191817;
	padding: 2rem;

	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.3rem;
	cursor: pointer;
	z-index: 1;
	font-weight: 600;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

	&:hover {
		background-color: white;
		color: #191817;
	}

	span {
		margin-right: 1rem;
	}
}
