.contact-button {
	background-color: #191817;

	position: absolute;
	right: 10vw;
	bottom: 10vh;

	border: solid 0.1rem #191817;
	padding: 2rem;

	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.3rem;
	cursor: pointer;

	span {
		margin-right: 1rem;
	}
}
