.navigation {
	position: relative;
	z-index: 5;

	.nav-items {
		width: 100vw;
		height: 100vh;

		background-color: #191817;

		position: fixed;
		z-index: 10;

		left: 0;
		top: 0;
	}

	.menu-holder {
		position: fixed;
		background-color: #191817;

		box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
		backdrop-filter: blur(33px);
		background-blend-mode: overlay;

		width: 80vw;
		height: 100vh;

		z-index: 10;
		left: 0;

		will-change: transform;
		transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
		transform: translateX(-100%);
	}

	.menu-inside {
		transform: translate(10.7vw, 9vh);
		display: flex;
		overflow: hidden;
		padding: 2rem 0;
		width: 90%;
	}

	.navigation-links {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		font-family: poppins;

		a {
			padding: 10px;
			text-decoration: none;
			color: white;
			font-weight: 500;
			font-size: clamp(3rem, 1.5vw, 5.2rem);
			opacity: 0.7;

			transform: translate(-100%);
			transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translate(-28%, -50%);
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 3em;
				font-weight: 400;
				font-family: monoton;
				color: rgb(#ced6d8, 0.2);
				z-index: 1;
				pointer-events: none;
				opacity: 0;
				letter-spacing: 100px;
				transition: all 0.4s ease;
			}

			&:hover {
				opacity: 1;
				font-weight: 600;
				color: #b56464;
				letter-spacing: 1.5rem;
			}

			&:hover::before {
				content: attr(data-text);
				opacity: 1;
				letter-spacing: 10px;
				color: rgba(#b56464, 0.15);
			}
		}
	}
}

.show-modal {
	transform: translateX(0) !important;
}

.list-load {
	a {
		transform: translate(0) !important;
		transition-duration: 0.3s !important;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !important;
	}

	@for $i from 0 through 5 {
		a:nth-child(#{calc($i + 1)}n) {
			transition-delay: #{calc($i/10 + 0.5)}s;
		}
	}
}
